{% extends "template.html" %}
{% block conteudo %}
        <div class="table-responsive-sm">
        <table class="table">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                </tr>
                </thead>
                <tbody>
            {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo.nome }}</td>
                    <td>{{ jogo.categoria }}</td>
                    <td>{{ jogo.console }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}
